@import "tailwindcss";

body{
  background-color: #212121;
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: red ; */
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background-color: red; */
  background: #383838;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h3{
  font-size:23px !important;
  margin: 10px 0;
}
ol,ul{
  list-style: decimal;
  margin-left:20px ;
  margin-top: 10px;
  margin-bottom: 10px;
}
li{
  list-style: disc;
}
pre{
  background-color:rgba(0, 0, 0, 0.478) ;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  overflow: auto;
}